<p>dialogo-actualizar works!</p>

<form [formGroup]="orderForm">

    <input formControlName="email" placeholder="correo">




    <div
      formArrayName="items"
      *ngFor="let item of orderForm.get('items')['controls']; let i = index;"
    >
      <div [formGroupName]="i">
        <input formControlName="name" placeholder="Item name">
        <input formControlName="description" placeholder="Item description">
        <input formControlName="price" placeholder="Item price">
      </div>
    </div>




    <button type="button" (click)="addItem()">Add Item</button>
</form>




<button (click)="close()">cerrar y pasar datos</button>
