
<div class="bus">

    <mat-form-field appearance="fill" class="im">
        <mat-label>Buscar</mat-label>
        <input matInput [(ngModel)]="aBuscar" >
    </mat-form-field>

    <button mat-raised-button class="b" color="primary" (click)="buscar()">Buscar</button>
    <button mat-raised-button class="b" color="primary" (click)="limpiar()">Limpiar</button>


</div>

<div class="c">

    <div class="tabla mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="last_name">
                <th mat-header-cell *matHeaderCellDef> Last Name </th>
                <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="birthday">
                <th mat-header-cell *matHeaderCellDef> Birthday </th>
                <td mat-cell *matCellDef="let element"> {{element.birthday}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
    </div>


    <div class="formulario">

        <form [formGroup]="nuevoEmpleadoForm">


            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre" required>
                <mat-error
                    *ngIf="nuevoEmpleadoForm.controls.nombre.touched && nuevoEmpleadoForm.controls.nombre.invalid">
                    <span *ngIf="nuevoEmpleadoForm.controls.nombre.errors.required">Este nombre es requerido</span>
                    <span *ngIf="nuevoEmpleadoForm.controls.nombre.errors.maxLength">Debe tener maximo 30
                        caracteres</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Apellido</mat-label>
                <input matInput formControlName="apellido" required>
                <mat-error
                    *ngIf="nuevoEmpleadoForm.controls.apellido.touched && nuevoEmpleadoForm.controls.apellido.invalid">
                    <span *ngIf="nuevoEmpleadoForm.controls.apellido.errors.required">Este apellido es requerido</span>
                    <span *ngIf="nuevoEmpleadoForm.controls.apellido.errors.maxLength">Debe tener maximo 30 caracteres</span>
                </mat-error>
            </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label>Fecha de nacimiento</mat-label>
                <input matInput formControlName="fecha" required>
                <mat-error
                    *ngIf="nuevoEmpleadoForm.controls.fecha.touched && nuevoEmpleadoForm.controls.fecha.invalid">
                    <span *ngIf="nuevoEmpleadoForm.controls.fecha.errors.required">Este fecha es requerido</span>
                    <span *ngIf="nuevoEmpleadoForm.controls.fecha.errors.pattern">Debe tener formato yyyy/mm/dd</span>
                </mat-error>
            </mat-form-field>



            <br>
            <br>
            <br>
            <button mat-raised-button class="b" color="primary" (click)="subir()">Subir</button>


        </form>



    </div>



</div>